body{
    background-color: aqua;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: brown;
    color: aliceblue;
}
h1:hover{
    background-color: red;
    color: blue;
}
h2{
    background-color:green;
    color:gold;
}
h2:hover{
    background-color: gold;
    color: green;
}
h3{
    background-color: black;
    color: aliceblue;
}
h3:hover{
    background-color: aliceblue;
    color: black;
}
h1+h2{
background-color: chartreuse;
color:blueviolet ;
}
h2+h1{
    background-color:blueviolet ;
    color:chartreuse ;
    }
